<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:notice] if flash[:notice] %>
  <% if logged_in? %>
  Logged in as: <%= current_user.username %>
  <%= button_to "Sign Out", logout_url, method: :delete %>
  <% else %>
  Sign In: <%= link_to "Sign In", login_url %>
  Sign Up: <%= link_to "Sign Up", new_user_url %>
  <% end %>

<%= yield %>

</body>
</html>
